html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom:10px;
}

.full-width-image {
  background: url('../img/eebuilding.jpg') no-repeat center 35%;
	background-size: 100%;
	text-align: center;
	padding: 75px 0;
	height:500px;
}
.full-width-image-xs {
  background: url('../img/eebuilding.jpg') no-repeat center 35%;
	background-size: 100%;
	text-align: center;
	padding: 75px 0;
}

.list-group-item {
  padding: 10px 15px !important;
}

.media-left, .media>.pull-left {
    padding-right: 4px;
}

.galleria {
  /*width: 700px;*/
  height: 400px;
  background: #000
}
