---
layout: base
title: Critical Infrastructure Protection
---

<div class="row">
  <div class="col-sm-10 col-xs-offset-1">
    <ul class="nav nav-tabs nav-justified col-md-2" role="tablist" style="padding:0;">
      <li class="active"><a href="#pubs" data-toggle="pill">Publications</a></li>
      <li><a href="#projects" data-toggle="pill">Projects</a></li>
      <li><a href="#labs" data-toggle="pill">Related Labs</a></li>
      <li><a href="#venues" data-toggle="pill">Publication Venues</a></li>
    </ul>
    <div class="tab-content col-sm-12 well">
      <div class="tab-pane active" id="pubs">
        {% assign publications = site.data.cip-publications %}
        {% for pub in publications %}
          {% include publication.html %}
        {% endfor %}
      </div>

      <div class="tab-pane" id="projects">
        <h3>Current Projects</h3>
        {% for proj in site.data.cip-projects %}
          {% if proj.status == "Active" %}
            {% include project.html %}
          {% endif %}
        {% endfor %}

        <h3>Past Projects</h3>
        {% for proj in site.data.cip-projects %}
          {% if proj.status == "Complete" %}
            {% include project.html %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="tab-pane" id="labs">
        {% assign labs = site.data.cip-labs %}
        {% for lab in labs %}
          {% include lab.html %}
        {% endfor %}
      </div>

      <div class="tab-pane" id="venues">
        {% assign venues = site.data.cip-venues %}
        {% for venue in venues %}
          {% include venue.html %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
