---
layout: base
title: People
---

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <h4>Advisor</h4>
    <ul class="list-group">
      {% for person in site.data.primary-investigators %}
        <li class="list-group-item">
          {% include pi.html %}
        </li>
      {% endfor %}
    </ul>
    <h4>Members</h4>
    <ul class="nav nav-tabs nav-justified col-md-2" role="tablist" style="padding:0;">
      <li class="active"><a href="#active" data-toggle="pill">Active</a></li>
      <li><a href="#alumni" data-toggle="pill">Alumni</a></li>
    </ul>
    <div class="tab-content col-xs-12 well">
      <div class="tab-pane active" id="active">
        {% assign membersDesc = site.data.members | sort:"grad" %}
        <ul class="list-group">
          {% for person in membersDesc %}
            {% if person.status == "Active" %}
              <li class="list-group-item">
                {% include member.html %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="tab-pane" id="alumni">
        {% assign membersDesc = site.data.members | sort:"grad" %}
        <ul class="list-group">
          {% for person in membersDesc reversed %}
            {% if person.status == "Alumni" %}
              <li class="list-group-item">
                {% include member.html %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
