---
layout: page
title: Pervasive Computing
---

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <ul class="nav nav-tabs nav-justified col-md-2" role="tablist" style="padding:0;">
      <li class="active"><a href="#pubs" data-toggle="pill">Publications</a></li>
      <li><a href="#projects" data-toggle="pill">Projects</a></li>
      <li><a href="#resources" data-toggle="pill">Resources</a></li>
      <li><a href="#venues" data-toggle="pill">Publication Venues</a></li>
    </ul>
    <div class="tab-content col-xs-12 well">
      <div class="tab-pane active" id="pubs">
        {% assign publications = site.data.publications | sort:"year" %}
        {% for pub in publications reversed %}
          {% if pub.area == "per" %}
            {% include publication.html %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="tab-pane" id="projects">
        {% assign projects = site.data.per-projects | sort:'name' %}
        <h4>Current Projects</h4>
        {% for proj in projects %}
          {% if proj.status == "Active" %}
            {% include project.html %}
          {% endif %}
        {% endfor %}

        <h4>Past Projects</h4>
        {% for proj in projects %}
          {% if proj.status == "Complete" %}
            {% include project.html %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="tab-pane" id="resources">
        <h4>Related Labs</h4>
        {% assign labs = site.data.per-labs | sort:'name' %}
        {% for lab in labs %}
          {% include lab.html %}
        {% endfor %}

        <h4>Useful Documents</h4>
        {% assign docs = site.data.per-docs | sort:'name' %}
        {% for doc in docs %}
          {% include doc.html %}
        {% endfor %}
      </div>

      <div class="tab-pane" id="venues">
        {% assign venues = site.data.per-venues | sort:'name' %}
        {% for venue in venues %}
          {% include venue.html %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
