---
layout: page
title: Publications
---
{% assign publications = site.data.publications %}
{% assign cpciPubs = publications | where: "area", "cpci" | sort:"year" %}
{% assign perPubs = publications | where: "area", "per" | sort:"year" %}
{% assign embPubs = publications | where: "area", "emb" | sort:"year" %}

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <input id="search" type="text" class="form-control" placeholder="Search" />
    </div>
  </div>
</div>
<div class="row">
  <nav class="col-sm-3 bs-docs-sidebar hidden-xs no-print">
    <ul id="sidebar" class="nav nav-stacked fixed">
      <li class="col-sm-6 col-md-8" style="margin-left: -15px;">
        <a href="#cpci">Modeling and Analysis of Cyber-Physical Critical Infrastructures</a>
      </li>
      <li class="col-sm-6 col-md-8" style="margin-left: -15px;">
        <a href="#per">Pervasive Computing</a>
      </li>
      <li class="col-sm-6 col-md-8" style="margin-left: -15px;">
        <a href="#emb">Assurance and Development of Embedded Systems</a>
      </li>
    </ul>
  </nav>
  <div class="col-sm-9">
    {% if cpciPubs.size > 0 %}
      <h5 id="cpci">Modeling and Analysis of Cyber-Physical Critical Infrastructures</h5>
      {% for pub in cpciPubs reversed %}
        {% include publication.html %}
      {% endfor %}
    {% endif %}

    {% if perPubs.size > 0 %}
      <h5 id="per">Pervasive Computing</h5>
      {% for pub in perPubs reversed %}
        {% include publication.html %}
      {% endfor %}
    {% endif %}

    {% if embPubs.size > 0 %}
      <h5 id="emb">Assurance and Development of Embedded Systems</h5>
      {% for pub in embPubs reversed %}
        {% include publication.html %}
      {% endfor %}
    {% endif %}

    <br/>
    <strong>Publications Count: </strong> {{ publications | size }}
  </div>
</div>

<script src="{{ site.baseurl }}/js/search.js"></script>
