---
layout: page
title: Publications
---
{% assign publications = site.data.publications | sort:"year" %}

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <input id="search" type="text" class="form-control" placeholder="Search" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {% for pub in publications reversed %}
      {% include publication.html %}
    {% endfor %}
    <hr/>
    <small><strong>Publication Count: </strong> {{ publications | size }}</small>
  </div>
</div>

<script src="{{ site.baseurl }}/js/search.js"></script>
