---
layout: base
title: Research
---

<style>
  .affix {
    top: 50px;
  }
</style>

<div class="row">
  <div class="col-md-3">
    <div class="list-group hidden-xs hidden-sm" data-spy="affix" data-offset-top="185" style="width:250px;">
      <p class="lead"><h1>Research</h1></p>
      <a href="#PIs" class="list-group-item">Primary Investigators</a>
      <a href="#Fellows" class="list-group-item">Fellows</a>
      <a href="#Publications" class="list-group-item">Publications</a>
    </div>
  </div>

  <div class="col-sm-9 col-xs-12">
    <h2 id="PIs">Primary Investigators</h2>

    <div class="well">
      {% for person in site.data.primary_investigators %}
        {% include photo.html %}
      {% endfor %}
    </div>
    <hr />

    <h2 id="Fellows">Fellows</h2>
    <div class="well">
      {% for person in site.data.fellows %}
        {% include photo.html %}
      {% endfor %}
    </div>
    <hr />

    <h2 id="Publications">Publications</h2>
    <div class="well">
      {% for pub in site.data.publications %}
        {% include publication.html %}
      {% endfor %}
    </div>
  </div>
</div>
