---
layout: page
title: Student Awards
---

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <ul class="nav nav-tabs nav-justified col-md-2" role="tablist" style="padding:0;">
      <li class="active"><a href="#graduate" data-toggle="pill">Graduate</a></li>
      <li><a href="#undergrad" data-toggle="pill">Undergraduate</a></li>
      <li><a href="#paper" data-toggle="pill">Best Papers</a></li>
      <li><a href="#travel" data-toggle="pill">Travel</a></li>
    </ul>
    <div class="tab-content col-xs-12 well">
      <div class="tab-pane active" id="graduate">
        {% assign awards = site.data.awards-grad | sort:"year" %}
        {% for award in awards reversed %}
          {% include award.html %}
        {% endfor %}
      </div>
      <div class="tab-pane" id="undergrad">
        {% assign awards = site.data.awards-undergrad | sort:"year" %}
        {% for award in awards reversed %}
          {% include award.html %}
        {% endfor %}
      </div>
      <div class="tab-pane" id="paper">
        {% assign awards = site.data.awards-best-paper | sort:"year" %}
        {% for award in awards reversed %}
          {% include award.html %}
        {% endfor %}
      </div>
      <div class="tab-pane" id="travel">
        {% assign awards = site.data.awards-travel | sort:"year" %}
        {% for award in awards reversed %}
          {% include award.html %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
