<div class="container" style="margin-top: 65px;">
  <div class="row">
    <div class="col-xs-12">
      <div class="media">
        <img class="media-object pull-left hidden-xs hidden-sm" height="125" width="125"
             src="{{ site.baseurl }}/img/header-logo.png" alt="S&T Logo"></img>
        <div class="media-body">
          <h1>SeNDeComp <small>Sensor Networks and Dependable Computing</small></h1>
          <h4></h4>
        </div>
      </div>
      <hr style="margin-bottom: 0px" />
    </div>
  </div>
</div>
