<li class="list-group-item">
  <div class="media">
    {% if person.photo %}
      {% if person.website %}
        <a href="{{ person.website }}" target="_blank">
          <img class="media-object pull-left img-rounded" width="80" height="80"
               style="margin-right:10px;"
               src="{{ site.baseurl }}/img/members/{{ person.photo }}" alt="No Photo">
        </a>
      {% else %}
        <img class="media-object pull-left img-rounded" width="80" height="80"
             style="margin-right:10px"
             src="{{ site.baseurl }}/img/members/{{ person.photo }}" alt="No Photo">
      {% endif %}
    {% else %}
      {% if person.website %}
        <a href="{{ person.website }}" target="_blank">
          <img class="media-object pull-left img-rounded" width="80" height="80"
               style="margin-right:10px;"
               src="{{ site.baseurl }}/img/user-icon.png" alt="No Photo">
        </a>
      {% else %}
        <img class="media-object pull-left img-rounded" width="80" height="80"
             style="margin-right:10px"
             src="{{ site.baseurl }}/img/user-icon.png" alt="No Photo">
      {% endif %}
    {% endif %}
    <div class="media-body">
      <h5 class="media-heading">
        {% if person.website %}
          <a href="{{ person.website }}" target="_blank">{{ person.name }}</a>
          {% if person.major %}
            <small>{{ person.major }}</small>
          {% endif %}
        {% else %}
          {{ person.name }}
          {% if person.major %}
            <small>{{ person.major }}</small>
          {% endif %}
        {% endif %}
      </h5>
      {% if person.project %}
        {% assign projects = person.project | split: "; " %}
        <strong>Project{% if projects.size > 1 %}s{% endif %}:</strong>
        {% for project in projects %}
          <a href="{{ site.baseurl }}/research-areas/#{{ project | slugify }}">
            {{ project }}
          </a><br/>
        {% endfor %}
      {% endif %}
      {% if person.grad %}
        {% if person.status == "Active" %}
          <strong>Graduating:</strong>
          {{ person.grad | date: "%B %Y"}}<br/>
        {% else %}
          <strong>Graduated:</strong>
          {{ person.grad | date: "%B %Y" }}<br/>
        {% endif %}
      {% endif %}
      {% if person.emp %}
        <strong>First Employed By:</strong>
        {{ person.emp }}<br/>
      {% endif %}
      {% if person.position and person.department %}
        {{ person.position }} - {{ person.department }} <br/>
      {% endif %}
    </div>
  </div>
</li>
