<li class="list-group-item">
  <div class="media">
    <span class="media-object pull-left" style="width:80px; height:80px; margin-right:10px; text-align:center;">
      {%- if person.photo -%}
        {%- capture photo_url -%}{{ site.baseurl }}/img/members/{{ person.photo }}{%- endcapture -%}
      {%- else -%}
        {%- capture photo_url -%}{{ site.baseurl }}/img/user-icon.png{%- endcapture -%}
      {%- endif -%}

      {%- if person.website -%}
        <a href="{{ person.website }}" target="_blank">
      {%- endif -%}
          <img class="img-rounded" style="width:auto; height:auto; max-width:80px; max-height:80px;"
               src="{{ photo_url }}" alt="Photo">
      {%- if person.website -%}
        </a>
      {%- endif -%}
    </span>
    <div class="media-body">
      <h5 class="media-heading">
        {% if person.website %}
          <a href="{{ person.website }}" target="_blank">{{ person.name }}</a>
          {% if person.major %}
            <small>{{ person.major }}</small>
          {% endif %}
        {% else %}
          {{ person.name }}
          {% if person.major %}
            <small>{{ person.major }}</small>
          {% endif %}
        {% endif %}
      </h5>
      {% if person.project %}
        {% assign projects = person.project | split: "; " %}
        <strong>Project{% if projects.size > 1 %}s{% endif %}:</strong>
        {% for project in projects %}
          <a href="{{ site.baseurl }}/research-areas/#{{ project | slugify }}">
            {{ project }}
          </a><br/>
        {% endfor %}
      {% endif %}
      {% if person.grad %}
        {% if person.status == "Active" %}
          <strong>Graduating:</strong>
          {{ person.grad | date: "%B %Y"}}<br/>
        {% else %}
          <strong>Graduated:</strong>
          {{ person.grad | date: "%B %Y" }}<br/>
        {% endif %}
      {% endif %}
      {% if person.emp %}
        <strong>First Employed By:</strong>
        {{ person.emp }}<br/>
      {% endif %}
      {% if person.position and person.department %}
        {{ person.position }} - {{ person.department }}<br/>
      {% endif %}
    </div>
  </div>
</li>
