<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img alt="Brand" src="{{ site.baseurl }}/img/brand.svg" width="110">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% if page.title == "People" %}active{% endif %}">
          <a href="{{ site.baseurl }}/people">People</a>
        </li>
        <li class="{% if page.title == "Research Areas" %}active{% endif %}">
          <a href="{{ site.baseurl }}/research-areas">Research Areas</a>
        </li>
        <li class="{% if page.title == "Publications" %}active{% endif %}">
          <a href="{{ site.baseurl }}/publications">Publications</a>
        </li>
        <li class="{% if page.title == "Student Awards" %}active{% endif %}">
          <a href="{{ site.baseurl }}/student-awards">Student Awards</a>
        </li>
        <li class="{% if page.title == "Resources" %}active{% endif %}">
          <a href="{{ site.baseurl }}/resources">Resources</a>
        </li>
        <li class="{% if page.title == "Contacts" %}active{% endif %}">
          <a href="{{ site.baseurl }}/contacts">Contacts</a>
        </li>
        <li class="{% if page.title == "News" %}active{% endif %}">
          <a href="{{ site.baseurl }}/news">News</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            S-Stem Grant <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{ site.baseurl }}/sstem/grant" target="_blank">
                Grant Information
              </a>
            </li>
			<li><a href="{{ site.baseurl }}/sstem/apply" target="_blank">Application</a></li>
			<li><a href="{{ site.baseurl }}/sstem/percepolis" target="_blank">Percepolis</a></li>
            <li><a href="{{ site.baseurl }}/sstem/trafficprediction" target="_blank">Prediction of Vehicular Traffic</a></li>
			<li><a href="{{ site.baseurl }}/sstem/survivability" target="_blank">Survivability of Autonomous Vehicles</a></li>
          </ul>
        </li>
        <li>
          <a href="https://www.github.com/sendecomp">
            <i class="fa fa-github fa-lg"></i>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Departments <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="http://ece.mst.edu/" target="_blank">
                Electrical &amp; Computer Engineering
              </a>
            </li>
            <li><a href="http://cs.mst.edu/" target="_blank">Computer Science</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
