<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">SeNDeComp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.baseurl }}/people">People</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Research <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{ site.baseurl }}/research">
                Research Overview
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="{{ site.baseurl }}/cip">
                Critical Infrastructure Protection
              </a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/personalizedlearning" target="_blank">
                Personalized Learning
              </a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/situationalawareness" target="_blank">
                Situational Awareness
              </a>
            </li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/resources">Resources</a></li>
        <li><a href="{{ site.baseurl }}/gallery">Gallery</a></li>
        <li><a href="{{ site.baseurl }}/contacts">Contacts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://www.github.com/sendecomp">
            <i class="fa fa-github fa-lg"></i>
          </a>
        </li>
        <li><a href="http://web.mst.edu/~ia-gaann">IA-GAANN</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Departments <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="http://ece.mst.edu/" target="_blank">
                Electrical &amp; Computer Engineering
              </a>
            </li>
            <li><a href="http://cs.mst.edu/" target="_blank">Computer Science</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
