<div class="media">
  {% if person.photo %}
    <img class="media-object pull-left img-rounded" width="80" height="80"
         src="{{ site.baseurl }}{{ person.photo }}" alt="No Photo">
  {% endif %}
  <div class="media-body">
    <h4 class="media-heading">
      {{ person.name }}
      {% if person.degree %}
        <small>{{ person.degree }}</small>
      {% endif %}
    </h4>
    <p>
        {% if person.department && person.department %}
          {{ person.position }} - {{ person.department }} <br/>
        {% endif %}
        {% if person.graduating %}
          <strong>Graduating:</strong> {{ person.graduating }} <br/>
        {% endif %}
        {% if person.focus %}
          <strong>Focus:</strong> {{ person.focus }} <br/>
        {% endif %}
        {% if person.website %}
          <a href="{{ person.website }}" target="_blank">Link to website</a>
        {% endif %}
    </p>
  </div>
</div>
