<div class="list-group-item">
  <h5 id="{{ proj.name | slugify }}">{{ proj.name }}</h5>
  <div class="row">
    {% if proj.members %}
    <div class="col-sm-6">
      <h6>Participant{% if proj.members.size > 1 %}s{% endif %}</h6>
      <ul>
        {% for member in proj.members %}
        <li>{{ member.name }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if proj.sponsors %}
    <div class="col-sm-6">
      <h6>Sponsor{% if proj.sponsors.size > 1 %}s{% endif %}</h6>
      <ul>
        {% for sponsor in proj.sponsors %}
        <li>{{ sponsor.name }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>{{ proj.desc }}</p>
    </div>
  </div>
  {% if proj.photo %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <img class="media-object" width="100%"
           src="{{ site.baseurl }}/img/projects/{{ proj.photo }}" alt="No Photo">
    </div>
  </div>
  {% endif %}
</div>
