<div class="list-group-item">
  <h5>{{ proj.name }}</h5>
  <div class="row">
    {% if proj.members %}
    <div class="col-sm-6">
      <h6>Participant(s)</h6>
      <ul>
        {% for member in proj.members %}
        <li>{{ member.name }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if proj.sponsors %}
    <div class="col-sm-6">
      <h6>Sponsor(s)</h6>
      <ul>
        {% for sponsor in proj.sponsors %}
        <li>{{ sponsor.name }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
  <p>{{ proj.desc }}</p>
</div>
