<div class="media">
  <div class="media-body">
    <h6 class="media-heading">{{ pub.citation }}</h6>
    <p>
      <strong>Status:</strong>
      {% if pub.status == "Published" %}
        {% if pub.fulltext %}
          <a class="" href="{{ pub.fulltext }}" target="_blank">{{ pub.status }}</a>
        {% else %}
          {{ pub.status }}
        {% endif %}
      {% else %}
        {{ pub.status }}
      {% endif %}
      <br/>
      {% if pub.awards %}
        <strong>Awards:</strong> {{ pub.awards }} <br/>
      {% endif %}
      {% if pub.badge %}
        {% if pub.badge-link %}
          <a href="{{ pub.badge-link }}" target="_blank">
            <img src="{{ site.baseurl }}/img/{{ pub.badge }}" height="100" />
          </a>
        {% else %}
          <img src="{{ pub.badge }}" height="100" />
        {% endif %}
      {% endif %}
    </p>
  </div>
</div>
