<div class="container" style="margin-top: 75px;">
  <div class="row">
    <div class="col-xs-12">
      <div class="media">
        <img class="img-thumbnail media-object pull-left" width="75px"
             src="{{ site.baseurl }}/img/header-logo.png" alt="Missouri S&amp;T"></img>
        <div class="media-body">
          <h1 style="margin-top: 0px">SeNDeComp <small>Research Group</small></h1>
          <h4 class="hidden-xs">Sensor Networks and Dependable Computing</h4>
        </div>
      </div><br>
    </div>
  </div>
</div>
