<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sensor Networks and Dependable Computing" />
    <meta name="keywords" content="Information Assurance, System Assurance, Dependability,
                                   Critical Infrastructure Protection, Missouri S&amp;T,
                                   Sensor Networks, GAANN, Doctoral Fellowship," />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon.ico">
    <title>{{ page.title }}</title>

    <!-- Styles -->
    <link href="{{ site.baseurl }}/styles/font-awesome.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/styles/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/styles/styles.css" rel="stylesheet">
    <script src="{{ site.baseurl }}/styles/jquery-1.12.0.min.js"></script>
    <script src="{{ site.baseurl }}/styles/bootstrap.min.js"></script>
  </head>
  <body>
    {% include nav.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
