<div class="list-group-item pub">
  <div class="media">
    {% if entry.badge  %}
    <div class="media-left" style="padding-right: 15px !important">
      {% if entry.badgelink %}
      <a href="{{ entry.badgelink }}" target="_blank">
        <img src="{{ site.baseurl }}/img/badges/{{ entry.badge }}" height="60" />
      </a>
      {% else %}
      <img src="{{ site.baseurl }}/img/badges/{{ entry.badge }}" height="60" />
      {% endif %}
      </div>
    {% endif %}
    <div class="media-body">
      <h6 id="citation" class="media-heading">
        {{ reference | replace: '“', '"' | replace: '”', '"' | replace: '–', '-' | replace: "’", "'" }}
      </h6>
      <strong>Status:</strong>
      {% if entry.status %}
        {{ entry.status | capitalize }}
	{% if entry.url %}
	&mdash; <a class="" href="{{ entry.url }}" target="_blank">Preprint Available</a>
	{% endif %}
      {% else %}
        {% if entry.doi %}
          {% if entry.doi contains 'dx.doi.org' %}
            <a class="" href="{{ entry.doi }}" target="_blank">Published</a>
          {% else %}
            <a class="" href="{{ entry.doi | prepend: 'http://dx.doi.org/' }}" target="_blank">Published</a>
          {% endif %}
        {% elsif entry.url %}
          <a class="" href="{{ entry.url }}" target="_blank">Published</a>
        {% else %}
          Published
        {% endif %}
      {% endif %}
      <div class="media-right pull-right">
        <a href="" class="hidden-xs btn btn-sm btn-success" data-toggle="modal"
           data-target="{{ entry.key | prepend: '#export-' }}">
          Export to BibTeX
        </a>
      </div>
      {% if entry.awards %}
        <br/>
        <strong>Awards:</strong> {{ entry.awards | capitalize }} <br/>
      {% endif %}
    </div>
  </div>
</div>
