---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="media">
        <img class="img-thumbnail media-object pull-left hidden-xs" width="75px"
             src="{{ site.baseurl }}/img/header-logo.png" alt="Missouri S&amp;T"
             style="margin-right: 25px"></img>
        <div class="media-body">
          <img alt="Brand" src="{{ site.baseurl }}/img/brand-alt.svg" width="300"
               style="margin-top:5px" class="img-responsive">
          <em>Sensor Networks and Dependable Computing</em>
        </div>
      </div><br>
    </div>
  </div>
</div>

<div class="full-width-image hidden-xs"></div>
<div class="full-width-image-xs visible-xs"></div>

<div class="container">
  {{ content }}
</div>
