html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-top: 85px;
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom:10px;
}

.full-width-image {
  background: url('../img/eebuilding.jpg') no-repeat center 35%;
        background-size: 100%;
        text-align: center;
        padding: 75px 0;
        height:500px;
}
.full-width-image-xs {
  background: url('../img/eebuilding.jpg') no-repeat center 35%;
        background-size: 100%;
        text-align: center;
        padding: 75px 0;
}

.list-group-item {
  padding: 10px 15px !important;
}

.media-left, .media>.pull-left {
  padding-right: 4px;
}

.galleria {
  /*width: 700px;*/
  height: 400px;
  background: #000
}

@media (max-width: 1200px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
                margin-top: 7.5px;
        }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
        display:block !important;
        }
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    .col-xs-12 {
        float: none;
    }

    .break-before {
        page-break-before: always;
    }

    .break-after {
        page-break-after: always;
    }

    .page-header, .title, h1, body {
        margin: 0;
    }

    a[href]:after {
        content: none !important;
    }
}

#toc-container {
    margin: 5px;
    width: 40%;
    #toc-title {
        text-align: center;
        margin-bottom: 20px;
        span {
            font-weight: bold;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.27);
        }
    }
    .toc-outermost {
        padding: 0 10px 0 10px;
    }
    ul {
        list-style-type: none;
    }
}

@media (max-width: 750px) {
    #toc-container {
        width: 100%;
    }
}